<!-- templates/modals/activity_modal.html -->

<div id="activityModal" class="modal">
  <div id="heatmap-tooltip"></div>
    <div class="modal-content">
  
      <span id="activityClose" class="close">
        &times;
      </span>
  
      <h2>Reading Activity</h2>
  
      <!-- Heatmap content -->
  
      <div id="heatmap-wrapper">
  
        <div id="heatmap-months"></div>
  
        <div id="heatmap-container"></div>
  
        <div class="heatmap-legend">
          <span>Less</span>
  
          <div class="legend-cell level-0"></div>
          <div class="legend-cell level-1"></div>
          <div class="legend-cell level-2"></div>
          <div class="legend-cell level-3"></div>
          <div class="legend-cell level-4"></div>
  
          <span>More</span>
        </div>
  
        
        <div class="heatmap-stats">

          <div class="heatmap-stat">
              <span id="current-streak">0 days</span>
              <p>Current Streak</p>
          </div>
      
          <div class="heatmap-stat">
              <span id="longest-streak">0 days</span>
              <p>Longest Streak</p>
          </div>
      
          <div class="heatmap-stat">
              <span id="active-days">0</span>
              <p>Active Days</p>
          </div>
      
          <div class="heatmap-stat">
              <span id="pages-this-year">0</span>
              <p>Pages This Year</p>
          </div>
      
      </div>
  
      </div>
  
    </div>
  
  </div>