# Python
__pycache__/
*.pyc

# Database
*.db

# Virtual environment
echo ".venv/" >> .gitignore
backend/.env

#node-modules
backend/static/node_modules/


# OS junk
.DS_Store
Thumbs.db

.env

books.db